<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>Simple Todo App</h1>

<div class="todo-list">
    <p v-if="!items.length">No items</p>
    <ul>
        <li v-for = "item in items">{{item.name}} <a href="#" @click="removeItem(item)">Remove</a></li>
    </ul>
    <input type="text" v-model="item">
    <input type="submit" value="add item" @click="addItem()">
</div>


<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    new Vue({
        el: '.todo-list',
        data: {
            item: '',
            items: []
        },
        methods:{
            addItem(){
                var item = {
                    id: Date.now(),
                    name: this.item
                }
                this.items.push(item);
            },
            removeItem(item){
                newItems = this.items.filter((i)=>{
                    return i.id !== item.id;
                });
                this.items =newItems;
            }
        }
    });

</script>
</body>
</html>